.menu-pergaminhos {
  justify-content: center;
  position: relative;
  top: 25px;
  display: flex;
  gap: 50px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 22px;
}

.menu-pergaminhos__link {
  text-decoration: none;
  color: #d4af37;
  font-weight: bold;
}

.menu-pergaminhos__item {
  position: relative;
  background-image: url(../fotos/pergaminho.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 1px rgba(0,0,0.1);
  transition: 0.5s;
}

.menu-pergaminhos__item:hover {
  transform: scale(1.1);
}

.menu-pergaminhos__item--inicio     { width: 110px; }
.menu-pergaminhos__item--herois     { width: 125px; }
.menu-pergaminhos__item--viloes     { width: 115px; }
.menu-pergaminhos__item--historia   { width: 165px; }
.menu-pergaminhos__item--mapas      { width: 130px; }
.menu-pergaminhos__item--como-jogar { width: 220px; }
.menu-pergaminhos__item--cartas     { width: 150px; }